
* {
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}
.container {
    
    width: 1200px;
    margin: 30px 0px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #666666;
}
/**first section**/
.first-sec {
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.text {
    padding: 0px 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.lake-img {
    width: 50%;
    height: 33.33333333333%;
    order: 3;
}
.colored-bground {
    height: 33.33333333333%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #993333;
    color: white;
    
}
.white-bg {
    width: 40%;
    height: 33.33333333333%;
   
}
.ord1 {
    display: flex;
    order:1;
}
.ord2 {
    order: 2;
}
.ord4 {
    order: 4;
}
.imgs {
    height: 100%;
    width: 100%;
}
h1 {
    font-size: 4rem;
    font-weight: 500;
}
h2 {
    font-weight: 500;
    font-size: 29px;
    color: #993333;
    margin-top: inherit;
    margin-bottom: 0px;
}
p {
    line-height: 1.8;
    margin: 20px 0px;
}
.italic-txt {
    font-size: 1.35rem;
    font-style: italic;
}
.read-mr {
    width: 105px;
    font-size: 1.15rem;
    padding: 12px 47px;
    text-decoration: none;
    background-color: #993333;
    color:white;
    align-self: flex-end;
}
.read-mr:hover {
    background-color: #f34f4f;
    transition: all 0.3s ease;
}
.img1 {
    border-radius: 50%;
}
.small-txt {
    font-size: 0.8em;
    padding: 0px 7% 0px 7%;
}
.uncolored-title {
    color: inherit;
    text-align: center;
}
.cntr-rm {
    align-self: center;
}
.fb-link {
    color: #007bff;
    text-decoration: none;
}
.fb-link:hover {
    text-decoration: underline;
    color: #035ebe;
}
/*second section style*/
.second-sec {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 580px;
    margin-bottom: 30px;
}
.nd-sec-pg {
    width: 58%;
    height: 100%;
}
.nd-sec-img {
    width: 32%;
    height: 100%;
}
.margin-btm {
    margin-bottom: inherit;
}
/*third section style*/
.third-sec {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    margin-bottom: 30px;
}
.basketball-img {
    height: 100%;
    width: 33.333333333333%;
}
.rd-sec-elements {
    height: 100%;
    width: 33.333333333333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-tbl {
    width: 31.333333333333%;
    margin-left:2%;
}
.right-tbl {
    width: 31.333333333333%;
    margin-right:2%;
}
.pricing-header {
    background-color: #009999;
    color:white;
    width: 300px;
    height: 118px;
}
.mrgn {
    margin: 0px;
}
.bordered-box {
    width: 298px;
    height: 430px;
    border: #009999 solid 1px;
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
    line-height: 2.5;
    margin: -20px 0 30px;
}
.buy-now {
    width: 90px;
    font-size: 1.15rem;
    padding: 12px 47px;
    text-decoration: none;
    background-color: #009999;
    color:white;
    align-self: center;
}
.buy-now:hover {
    background-color: #03dbdb;
    transition: all 0.3s ease;
}
/*fourth section style*/
.bg-top {
    background-color: #993333;
    display: flex;
    padding: 40px 40px 90px;
}
.top-title {
    padding-left: 11%;
    color:white;
}
.bg-middle {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 744px;
    height: 365px;
    padding: 68px;
    background-color: white;
}
.ctn-left {
    width: 306px;
}
.ctn-elements {
    width: 100% ;
    margin-bottom: 20px;
}
.ctn-txt {
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    padding: 15px 20px;
    border: 1px solid #b6bcc2;
    outline-color:#993333;
}
.ctn-right {
    width: 340px;
    padding-left: 60px;
    margin-bottom: 20px;
}
select {
    width: 348px;
    margin-bottom: 20px;
}

.gender {
    display: flex;
    justify-content: space-around;
    margin-left: -30px;
}
textarea {
    width: 300px;
    height: 170px;
    margin-left: 15px;
}
.submit {
    background-color: #993333;
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 15px 45px;
    outline: none;
}
.submit:hover {
    background-color: #f34f4f;
    transition: all 0.3s ease;
}
.bg-bottom {
    background-color: #666666;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -55px;
    padding-top: 100px;
    padding-bottom: 30px;
}
h3 {
    letter-spacing: 1px;
}
address {
    font-style: normal;
    line-height: 1.8;
    margin-top: 20px ;
}
.p {
    padding-left: 200px;
}
/********footer*********/
footer {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cr {
    text-decoration: none;
    color: inherit; 
}
.cr:hover {
    text-decoration: underline;
    color: #035ebe;
}
/**media queries**/
@media screen and (max-width:1200px) {
    .container {
        max-width: 960px;
    }
    .bordered-box {
        width: 238px;
        height: 70%;  
    }
    .pricing-header {
        width: 240px;
    }
    .top-title {
        padding-left: 0%;
    }
}
@media screen and (max-width:992px) {
    .container {
        max-width: 720px;
    }
    .first-sec {
        display: block;
        height: 2000px;
    }
    .lake-img {
        width: 100%;
        height: 21%;
    }
    .colored-bground {
        height: 21%;
        width: 100%;
    }
    .white-bg {
        width: 90%;
        height: 12.33333333333%;
    }
    .read-mr {
        align-self: center;
    }
    .second-sec {
        height: 1500px;
        justify-content: center;
    }
    .nd-sec-pg {
        width: 80%;
        height: 45%;    
    }
    .nd-sec-img {
        width: 80%;
        height: 55%;
    }
    .third-sec {
        height: 1500px;
        justify-content: center;
    }
    .basketball-img {
        height: 55%;
        width: 80%;
    }
    .rd-sec-elements {
        height: 45%;
        width: 45%;
    }
    .contain {
        width: 500px;
        height: 365px;
        padding: 68px;
    }
    .ctn-left {
        width: 160px;
    }
    .ctn-elements {
        width: 100% ;
        margin-bottom: 20px;
    }
    .ctn-txt {
        padding: 15px 19px; 
    }
    .ctn-right {
        width: 200px;
        padding-left: 60px;
    }
    select {
        width: 200px;
    }
    .gender {
        margin-left: 0px;
    }
    textarea {
        width: 170px;
        margin-left: 0px;
    }
}
@media screen and (max-width:768px) {
    .container {
        max-width: 540px;
    }
    .lake-img {
        height: 17%;
    }
    .ord2 {
        height: 17%;
    }
    .white-bg {
        height: 15%;
    }
    .nd-sec-pg {
        height: 50%;
    }
    .nd-sec-img {
        width: 94%;
        height: 50%;
    }
    .third-sec {
        height: 2000px;
    }
    .basketball-img {
        height: 40%;
        width: 94%;
    }
    .rd-sec-elements {
        height: 30%;
        width: 100%;
        margin: 0px;
    }
    .pricing-header {
        width: 280px;
    }
    .bordered-box {
        width: 278px;
    }
    .bg-middle {
        height: 790px;
    }
    .contain {
        width: 370px;
        height: 690px;
        display: block;
    }
    .ctn-left {
        width: 306px;
    }
    .ctn-txt {
        padding: 15px 19px;  
    }
    .ctn-right {
        width: 306px;
        padding-left: 0px;
    }
    select {
        width: 348px;
    }
    .gender {  
        display: block;
    }
    textarea {
        width: 306px;
        margin-bottom: 20px;
    }
    .submt {
        display: flex;
        justify-content: center;
    }
    .bg-bottom {
        align-items: center;
        flex-direction: column;
    }
    address {
        line-height: 1.5;
    }
    .p {
        padding-left: 0px;
    }
}